<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.aidl.server">

    <application android:label="aidl-server">
        <service
            android:name=".AidlService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidlservice" />
    </application>
</manifest>