<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.binder_pool_server">

    <application
        android:label="binder_pool_server"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".BinderPoolService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>