<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.binder_pool_server">

    <application android:label="binder_pool_server">
        <service
            android:name=".BinderPoolService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>